h1 {
    color: greenyellow;
}

#mainHeader {
    color: grey;
    text-align: center;
    padding: 10px;
}


/* nav{
    background-color: lightblue;
} */

nav ul {
    background-color: lightgrey;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 1rem;
    margin-bottom: 0px;
}

#mainDiv {
    display: flex;
    /* justify-content: space-evenly; */
    margin: 6px;
}

#mainDiv div {
    background-color: lightgrey;
    text-align: center;
    height: 70vh;
    margin: 6px;
    display: grid;
    place-items: center;
}

#middlecontent {
    background-color: grey !important;
    flex-grow: 2;
}

#leftcontent {
    flex-grow: 1;
}

#rightcontent {
    flex-grow: 1;
}

footer {
    background-color: lightslategray;
    text-align: center;
    padding: 1rem;
}

button {
    padding: 10px;
    margin: 6px;
}

.action {
    border: 0;
    background-color: red;
    color: white;
    border-radius: 0.4rem;
}