nav ul li a {
    color: white !important;
    font-weight: bold;
    text-decoration: none;
    font-size: small;
}

nav ul,
nav {
    display: flex;
    list-style: none;
}

nav ul {
    justify-content: space-evenly;
    width: 100%;
    background: rgb(78, 77, 77);
}

#info {
    border-style: hidden;
    border-width: 10px;
}

#mainsection {
    display: flex;
    align-items: center;
    text-align: center;
}

#features {
    text-align: center;
}

#divFeatures {
    display: flex;
    justify-content: space-evenly;
}

#team_div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.profile-card {
    text-align: center;
    background-color: #474e5d;
    padding: 1rem;
    border-radius: 10px;
}

.profile-card img {
    border-radius: 50%;
}

#logo {
    width: 88px;
    float: left;
    background: rgb(78, 77, 77);
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}


/* Gallery */

* {
    box-sizing: border-box
}


/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


/* Hide the images by default */

.mySlides {
    display: block;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */

.text {
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* Contact */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact-parent {
    background: #fff;
    display: flex;
    margin: 80px 0;
}

.contact-child {
    display: flex;
    flex: 1;
    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.75);
}

.child1 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://cdn.pixabay.com/photo/2019/06/28/00/17/architecture-4303279_1280.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #fff;
    padding: 100px 0;
}

.child1 p {
    padding-left: 20%;
    font-size: 20px;
    text-shadow: 0px 0px 2px #000;
}

.child1 p span {
    font-size: 16px;
    color: #9df2fd;
}

.child2 {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.inside-contact {
    width: 90%;
    margin: 0 auto;
}

.inside-contact h2 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
}

.inside-contact h3 {
    text-align: center;
    font-size: 16px;
    color: #0085e2;
}

.inside-contact input,
.inside-contact textarea {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.48);
    padding: 5px 10px;
    margin-bottom: 20px;
}

.inside-contact input[type=submit] {
    background-color: #000;
    transition: 0.2s;
    border: 2px solid #000;
    margin: 30px 0;
}

.inside-contact input[type=submit]:hover {
    background-color: #fff;
    color: #000;
    transition: 0.2s;
}

@media screen and (max-width:991px) {
    .contact-parent {
        display: block;
        width: 100%;
    }
    .child1 {
        display: none;
    }
    .child2 {
        background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("https://cdn.pixabay.com/photo/2019/06/28/00/17/architecture-4303279_1280.jpg");
        background-size: cover;
    }
    .inside-contact input,
    .inside-contact textarea {
        background-color: #fff;
    }
}

.ScriptTop {
    background: #fff none repeat scroll 0 0;
    float: left;
    font-size: 0.69em;
    font-weight: 600;
    line-height: 2.2;
    padding: 12px 0;
    text-transform: uppercase;
    width: 100%;
}


/* To Navigation Style 1*/

.ScriptTop ul {
    margin: 24px 0;
    padding: 0;
    text-align: left;
}

.ScriptTop li {
    list-style: none;
    display: inline-block;
}

.ScriptTop li a {
    background: rgb(83, 79, 79) none repeat scroll 0 0;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 18px;
    text-decoration: none;
    text-transform: capitalize;
}

.ScriptTop li a:hover {
    background: #000;
}


/* ******************************************************
	Script Header
*********************************************************/

.ScriptHeader {
    float: left;
    width: 100%;
    padding: 2em 0;
}

.rt-heading {
    margin: 0 auto;
    text-align: center;
}

.Scriptcontent {
    line-height: 28px;
}

.ScriptHeader h1 {
    font-family: "brandon-grotesque", "Brandon Grotesque", "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 26px;
    font-weight: 700;
    margin: 0;
    line-height: normal;
}

.ScriptHeader h2 {
    color: rgb(83, 79, 79);
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0 0;
    line-height: normal;
}

.ScriptHeader h1 span {
    display: block;
    padding: 0;
    font-size: 22px;
    opacity: 0.7;
    margin-top: 5px;
}

.ScriptHeader span {
    display: block;
    padding: 0;
    font-size: 22px;
    opacity: 0.7;
    margin-top: 5px;
}


/* ******************************************************
	Live Demo
*********************************************************/


/* ******************************************************
	Responsive Grids
*********************************************************/

.rt-container {
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}

.rt-row:before,
.rt-row:after {
    display: table;
    line-height: 0;
    content: "";
}

.rt-row:after {
    clear: both;
}

[class^="col-rt-"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    padding: 0 15px;
    min-height: 1px;
    position: relative;
}

@media (min-width: 768px) {
    .rt-container {
        width: 750px;
    }
    [class^="col-rt-"] {
        float: left;
        width: 49.9999999999%;
    }
    .col-rt-6,
    .col-rt-12 {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .rt-container {
        width: 1170px;
    }
    .col-rt-1 {
        width: 16.6%;
    }
    .col-rt-2 {
        width: 30.33%;
    }
    .col-rt-3 {
        width: 50%;
    }
    .col-rt-4 {
        width: 67.664%;
    }
    .col-rt-5 {
        width: 83.33%;
    }
}

@media only screen and (min-width:240px) and (max-width: 768px) {
    .ScriptTop h1,
    .ScriptTop ul {
        text-align: center;
    }
    .ScriptTop h1 {
        margin-top: 0;
        margin-bottom: 15px;
    }
    .ScriptTop ul {
        margin-top: 12px;
    }
    .ScriptHeader h1,
    .ScriptHeader h2,
    .scriptnav ul {
        text-align: center;
    }
    .scriptnav ul {
        margin-top: 12px;
    }
    #float-right {
        float: none;
    }
}


/* ABOUT US */

*,
*:before,
*:after {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

.container {
    padding: 0 16px;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}